.navContainer {
  width: 100%;
  background-color: var(--two);
  height: 58px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.navContainer h1 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  color: var(--one);
  line-height: 1.6rem;
}

.navContainer h2 {
  margin: 0;
  background-color: var(--two);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  line-height: 1rem;
}

.secondNav {
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--three);
  border-bottom: 2px solid black;
  font-size: 0.7rem;
}
