.container {
  padding: 8px;
  max-width: 777px;
  margin: 0 auto;
}

.contentText p {
  margin: 12px 0;
}

.contentText ul {
  list-style-type: disc;
  padding-left: 22px;
}

.contentText li {
  list-style-type: disc;
}

.inscripcionBtn {
  border: solid black 2px;
  padding: 4px 8px;
  background-color: bisque;
  border-radius: 8px;
}
