.container {
  padding: 12px;
  width: 100%;
  min-height: calc(100vh - 55px);
  text-align: center;
}

.inscripcionForm {
  border-radius: 8px;
  max-width: 666px;
  width: 90%;
  margin: 0 auto;
  border: solid black 2px;
  background-color: var(--one); /* Black w/opacity/see-through */
  color: white;
  padding: 8px;
}

.inscripcionForm div > * {
  width: 90%;
  margin: 0 auto;
}

.inscripcionForm input {
  min-width: 222px;
}

.inscripcionForm select {
  width: 100%;
  min-width: 222px;
  max-width: 333px;
}

.inscripcionForm label {
  display: block;
}

.inscripcionForm textarea {
  height: 200px;
}

.inscripcionForm button {
  background-color: var(--two);
  border: solid black 2px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: black 0.5px 0.5px;
  cursor: pointer;
}

.inscripcionForm button:hover {
  filter: brightness(85%);
  box-shadow: black 1px 1px;
}
