.jpcontainer {
  padding: 8px;
  margin: 0 auto;
  width: 90%;
  max-width: 888px;
  text-align: justify;
}

.jpcontainer p {
  margin: 8px 0;
}

.jpImageContainer {
  text-align: center;
}

.inscripcionBtn {
  border: solid black 2px;
  padding: 4px 8px;
  background-color: var(--one);
  border-radius: 8px;
  cursor: pointer;
}

.inscripcionBtn:hover {
  filter: brightness(85%);
}
