.individualPrograma {
  background-color: aliceblue;
  border: solid black 1px;
  margin: 8px 0;
  padding: 4px;
  display: flex;
  width: fit-content;
}

.classNumber {
  border-radius: 100%;
  padding: 1px 8px;
  margin: 4px;
  display: inline;
  border: solid black 2px;
}

.dayDetails {
  text-align: center;
  padding: 0 22px;
  height: 100%;
  margin: auto 0;
}

.classDetails {
}
